<!DOCTYPE html>
<html lang="en">

<head>

	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
	<link rel="icon" href="/assets/img/burger.png">
	<title>Eat Dat Burger!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

</head>

<body>
	<div class="container">
		<center>
			<div class="row">
				<img src="assets/img/burger.png" width="300" height="300">
			</div>
		</center>
		{{{ body }}}
		<script src="/assets/js/burger.js"></script>
</body>

</html>